body{background-color: rgba(0, 0, 0, 0.61);
     text-align: center;
}
h1  {color: rgb(0, 0, 0);
}
button {background-color: rgba(0, 0, 0, 0.315);
    border-color:black;
    border-radius: 30%;
    padding: 20px;
    border-style: solid;
}
p   {font-size: x-large;
    color: rgb(0, 0, 0);
}
img {border-radius: 30%;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 3px;
}
input{background-color: rgba(0, 0, 0, 0.121);
    color:rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    border-color:rgb(0, 0, 0);
    font-size:xx-large;
    border-radius: 30%;
    border-style: solid;
    border-width: 3px;
}